{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block title %} Adding a new pet {% endblock title %}


{% block content %}
<br />
<div class="container ">
  <div class="row" style="">
    <div class="card col-lg-12 m-3" style="border:2px dashed grey;">




    <form action="{% url 'create' %}" method="POST" enctype="multipart/form-data">
      <br />
        {% csrf_token %}
        {{form|crispy}}
<br />
        <input type="submit" value="Create" class="btn btn-outline-success btn-block my-3">
          <br />
      </form>

    </div>
  </div>
</div>



{% endblock content %}
