

{% extends "base.html" %}


{% block title %} {{pet.name}} details{% endblock title %}

{% block content %}
<br>
<div class="card style="border:5px dotted orange;"">
  <h5 class="card-header">Pet Info</h5>
  {% if pet.image %}
      <img src="{{pet.image.url}}"  class="card-img-top"  alt="" >
    {% endif %}
  <div class="card-body">
    <h5 class="card-title">Name:{{pet.name}}</h5>
    <p class="card-text">Age: {{pet.age}}</p>
    <p class="card-text">Price: {{pet.price}}</p>

    <div class="row text-center">
        <div class="col-md-6">
            <a href="{% url 'update' pet.id %}" class="btn btn-outline-success btn-block">Edit</a>
        </div>
        <div class="col-md-6">
            <a href="{% url 'delete' pet.id %}" class="btn btn-outline-danger btn-block">Delete</a>
        </div>
    </div>
  </div>
</div>


{% endblock content %}
